/*
red: #EF3E36;
blue: #238DFA;
lightgray: #fcfcfc;
*/


/*======================
    - CUSTOM FONTS -
======================*/

@font-face
{
    src: url(../fonts/google_fonts/Fascinate_Inline/FascinateInline-Regular.ttf);
    font-family: FR;
}

@font-face
{
    src: url("../fonts/google_fonts/Pacifico/Pacifico-Regular.ttf");
    font-family: Pacifico;
}

@font-face
{
    src: url("../fonts/google_fonts/Roboto/Roboto-Bold.ttf");
    font-family: Roboto;
}

@font-face
{
    src: url("../fonts/google_fonts/Varela_Round/VarelaRound-Regular.ttf");
    font-family: ValeraRound;
}

/*=================
    - RESET -
=================*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #238DFA;
}

body
{
	background: #fcfcfc;
}
a {
    text-decoration: none;
	cursor: pointer;
}

ul
{
    list-style: none;
    list-style-position: inside
}

h1, h2, h3, h4, h5, h6
{
    font-family: roboto;
}

button,
input[type="submit"]
{
    border: none;
    background: none;
}

/*=================
    - CLASSES -
=================*/

.bordered
{
    border: 1px solid lightgray;
}

.shadow
{
    box-shadow: 0 1px 2px lightgray;
}


/*=================
    - TABLES -
=================*/
table
{
    border-collapse: collapse;
}

td,
th
{
    padding: 7.5px 15px;
}

table tr:not(:last-child)
{
    border-bottom: 1px solid lightgray;
}
table tr th
{
    background: lightgray;
}
table.bordered td
{
    border: 1px solid lightgray;
}

.striped-even tr:nth-child(even) td,
.striped-even li:nth-child(even)
{
    background: lightgray;
}

.striped-odd tr:nth-child(odd) td,
.striped-odd li:nth-child(odd)
{
    background: lightgray;
}

/*=================
    - BUTTONS -
=================*/

.btn
{
    display: inline-block;
    padding: 10px 25px;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: .8em;
    font-weight: bold;
    cursor: pointer;
}

.btn.shallow
{
    border: 1px solid #238DFA;
}

.btn.fill
{
    background: black;
	color: #238DFA !important;
}

/*=================
    - INPUTS -
=================*/
form
{
    padding: 50px 15px;
    margin: 15px;
}

.input
{
    outline: none;
    width: 100%;
    border: 2px solid #238DFA;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 5px 0;
    text-align: left;
}
.rounded
{
    border-radius: 0px;
}


.clearfix::after,
.container::after,
.row::after,
.row::after
{
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
    float: none;
}
.container
{
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    padding: 15px;
}
.logo
{
    font-family: pacifico;
    position: absolute;
    width: 6%;
    min-width: 80px;
}

header
{
    position: relative;
}

/*=================
    - LISTS -
=================*/

.list
{
    display: inline-block;
    border-radius: 3px;
    margin: 0 15px;
}

.list.full
{
    display: block;
}

.list.bordered li
{
    border-bottom: 1px solid lightgray;
}
.list li
{
    padding: 10px 20px;
}

/*=================
    - IMG -
=================*/
img
{
    width: 100%;
    height: auto;
}

img.bordered
{
    border: 5px;
    box-shadow: 0px 0px 3px lightgray;
}

/*=================
    - MESSAGE BOX -
=================*/
.message-box
{
    border: 2px solid;
    padding: 15px;
    border-radius: 5px;
    line-height: 1.5em;
	max-width: 450px;
	margin: 0 auto;
	margin-top: 20px;

}
.message-box.danger
{
	border-color:rebeccapurple;
    border-color: #ff1c2661;
    background: #ff1c2645;
}

/*=================
    - MENU -
=================*/
header
{
	background: #ffffff;
}
nav
{
	display: inline-block;
	height: auto;
	float: right;
	/* position: relative;
	top: 15px; */

}
nav ul li
{
	float: left;
	margin: 0 5px;
}

nav ul li a
{
	display: block;
	padding: 10px 15px;
	font-size: 1.2em;
	font-family: ValeraRound;
	color: #238DFA
}
.logo
{
	display: inline-block;
}

.logo a{
	font-family: Pacifico;
	letter-spacing: 2px;
	color: #238DFA;
}
ul li lable
{
	display: block;
}

.snap
{
    background: black !important;
    
}
.snap .icon
{
	color:#238DFA;
}
.user
{
	background: #238DFA;
	position: relative;
	top: 3px;
	display: block;
	text-align: center;
	padding: 7px 13px;
	border-radius: 0%;
	color: #cccccc;
}
nav a .icon
{
	font-size: 1.2em;
	color: #238DFA;
	position: relative;
	top: 3px;
	margin-left: 10px;
}

nav li ul
{
	position: relative;
}
.drop-down
{
	display: inline-block;
	display: none;
	position: inherit;
	right: 0;
	margin-top: 15px;
	border-radius: 3px;
	overflow: hidden;
	min-width: 200px;
	background: #ffffff;
}
.drop-down li
{
	display: block;
	margin: 0;
	float: none;
}

.drop-down li:hover
{
	background: #f3f3f3;
}

.drop-down li a
{
	display: block;
	padding: 10px 25px 10px 0;
	cursor: pointer;
}

.drop-down li a .icon
{
	font-size: 1em;
	margin-right: 10px
}

nav input[type="checkbox"]
{
	display: none;
}

input[type="checkbox"]:checked + .drop-down
{
	display: inline-block;

}
/*=================
    - FOOTER -
=================*/
main
{
	min-height: calc(80vh - 60px);
}

/*=================
    - FOOTER -
=================*/
footer
{
	height: auto;
	border-top: 1px solid lightgray;
}
footer p
{
	display: inline-block;
	float: none;
}